<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
    </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200723101434.html">
        <span itemprop = "name"> User Management </span>
    </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> "/ etc / passwd" file that displays a list of users </h2>

The <b> list of users </b> can be found in the "/ etc / passwd" file. Use the <a href="/blog/20200113083613.html"> cat</a> command to display the "/ etc / passwd" file. Execute it with root privileges using the <a href="/blog/20200118092236.html"> sudo command</a>.

<pre>
sudo cat / etc / passwd
</pre>

<h3> Other operations for the user </h3>

The following article explains how to add users.

<ul>
  <li> <a href="/blog/20200405174004.html"> useradd command-add a user</a> </li>
</ul>

The following article explains how to delete a user.

<ul>
  <li> <a href="/blog/20200404174004.html"> userdel command-delete user</a> </li>
</ul>

<h3> Other user management operations </h3>

Add user.

<ul>
  <li> <a href="/blog/20200511173052.html"> Add user --useradd command</a> </li>
</ul>

User deletion.

<ul>
  <li> <a href="/blog/20200402174004.html"> Delete user --userdel command</a> </li>
</ul>