<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop = "name"> Package management </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>
<h2> Install nfs-kernel-server --NFS server network file share </ h2>

To share network files between multiple servers, install the NFS server "nfs-kernel-server" with the <a href="/blog/20200530085516.html"> apt </a> command.

<pre>
sudo apt install -y nfs-kernel-server
</ pre>

NFS stands for Network File System.

<a href="/blog/20200517093929.html"> nfs-common </a>, which provides the ability to mount to an NFS server as an NFS client, is also installed.

<h4> Confirm that the NFS server has been installed </ h4>

Use the status of the <a href="/blog/20200605104005.html"> systemctl </a> command to confirm that the NFS server has been installed.

<pre>
systemctl status nfs-kernel-server
</ pre>

If the following is displayed, it is installed.

<pre>
● nfs-server.service --NFS server and services
   Loaded: loaded (/lib/systemd/system/nfs-server.service; enabled; vendor prese
   Active: active (exited) since Mon 2020-05-18 09:51:35 JST; 2min 47s ago
 Main PID: 20222 (code = exited, status = 0 / SUCCESS)
    Tasks: 0 (limit: 9479)
   CGroup: /system.slice/nfs-server.service
</ pre>