<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200526151435.html">
        <span itemprop = "name"> Apache </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Enable / disable Apache config file-basic config / module config / site config </h2>

In Apache of Ubunut, there is a command to enable / disable the configuration file by a command.

The location of the Apache configuration file is "/ etc / apache2".

See the directory structure of Apache's configuration files. Only the ones related to the configuration file are displayed.

<pre>
-rw-r--r-- 1 root root 7224 Mar 13 21:26 apache2.conf
drwxr-xr-x 2 root root 4096 Jun 8 15:37 conf-available
drwxr-xr-x 2 root root 4096 Jun 8 15:37 conf-enabled
drwxr-xr-x 2 root root 12288 Jun 8 15:21 mods-available
drwxr-xr-x 2 root root 4096 Jun 8 16:07 mods-enabled
-rw-r--r-- 1 root root 320 Jul 17 2019 ports.conf
drwxr-xr-x 2 root root 4096 May 26 14:59 sites-available
drwxr-xr-x 2 root root 4096 May 26 14:59 sites-enabled
</pre>

Those that start with conf are general settings, those that start with mods are Apache module settings, and those that start with sites are virtual host settings for running multiple sites.

<h4> Apache configuration file to enable </h4>

The following are valid as Apache configuration files. One of the following must be true for the setting to take effect: The configuration file stored in available will not be valid as it is.

<pre>
# / etc / apache2 /
# |-apache2.conf
# | `--ports.conf
# |-mods-enabled
# | |-*. Load
# | `-* .Conf
# |-conf-enabled
# | `-* .Conf
# `--sites-enabled
# `-* .Conf
</pre>

<h3> General configuration file </h2>

First of all, you'll want to write your new config file in apache2.conf, but it's a good idea to leave this as the default.

Create the new configuration file you create in "conf-available". Let's place it with the name "myapache2.conf". Create a new one with the <a href="https://en.linux.perlzemi.com/blog/20190401171737.html"> vi command</a>.

<pre>
sudo vi conf-available/myapache2.conf
</pre>

Please save and exit.

<h4> Enable common Apache config files in a2enconf </h4>

Then enable this configuration file with the a2enconf command.

<pre>
sudo a2enconf myapache2
</pre>

Take a look inside "conf-enabled" with the <a href="https://en.linux.perlzemi.com/blog/20191126082723.html"> ls</a> command.

<pre>
ls -l conf-enabled
</pre>

Then <a href="https://en.linux.perlzemi.com/blog/20200610092705.html"> symbolic link</a> is created for "conf-available / myapache2.conf" I understand.

<pre>
myapache2.conf-> ../conf-available/myapache2.conf
</pre>

The Apache configuration file you created is now valid.

After enabling it, you need to <a href="/blog/20200519084454.html"> restart Apache</a> for Apache to reflect your settings.

<h4> Disable common Apache config files with a2disconf </h4>

To disable it, use the a2disconf command.

<pre>
sudo a2disconf myapache2
</pre>

After disabling it, you will need to restart Apache for the settings to take effect.

<h3> Module configuration file </h2>

Some Apache modules are available but not enabled. The settings for such modules are in "mods-available".

<h4> Enable Apache module configuration file with a2enmod </h4>

Use the a2enmod command to enable the Apache module configuration file. Try enabling the ssl module (mod_ssl).

<pre>
sudo a2enmod ssl
</pre>

A symbolic link will be created in "mods-enabled". Apache needs to be restarted for the settings to take effect.

<h4> Disable Apache module configuration file with a2dismod </h4>

To disable the Apache module configuration file, use the a2dismod command.

<pre>
sudo a2dismod ssl
</pre>

After disabling it, you need to restart Apache for the settings to take effect.

<h3> Virtual host configuration file for running multiple sites </h2>

Ubuntu provides a "sites-available" directory for running multiple sites on a virtual host.

First, when writing a new virtual host setting, store the setting file in "sites-available".

Make the domain name of the site the name of the configuration file. The extension is ".conf".

<pre>
vi www.mysite.example.conf
</pre>

Let's write the virtual host settings in this.

<h4> Enable virtual host config file on a2ensite </h4>

Use the a2ensite command to enable the virtual host configuration file. Try enabling the ssl module (mod_ssl).

<pre>
sudo a2ensite www.mysite.example
</pre>

A symbolic link will be created in "sites-enabled". Apache needs to be restarted for the settings to take effect.

<h4> Disable virtual host config file with a2dissite </h4>

To disable the virtual host configuration file, use the a2dissite command.

<pre>
sudo a2dissite www.mysite.example
</pre>

After disabling it, you need to restart Apache for the settings to take effect.