<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop = "name"> Package management </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>
<h2> Install libpng-dev </ h2>

I will explain how to install libpng-dev. Install libpng-dev using the <a href="/blog/20200530085516.html"> apt </a> command. Run with administrator privileges using sudo.

<pre>
sudo apt install -y libpng-dev
</ pre>

<h3> What is libpng-dev? </ H3>

(The following description is unconfirmed as of May 14, 2020)

libpng-dev is one of the libraries for reading, writing and editing PNG images.

It is necessary to read "png.h" in the C language source file.

In Perl, there are modules that use "png.h" to read and write PNG images. An example is Imager :: File :: PNG, Imager's PNG image read / write module.

In order to install Imager :: File :: PNG, "png.h" must be installed in the include directory and the corresponding shared library "libpng.so" must be installed in the library directory.

Installing libpng-dev installs the "png.h" header and the corresponding shared library.

On the Web, PNG, GIF, and JPEG images are often uploaded, so install the PNG library.