<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200526151435.html">
        <span itemprop = "name"> Apache </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Enable mod_proxy_http module in Apache </ h2>

In Apache of Ubuntu, the mod_proxy_http module that provides the proxy function by HTTP / HTTPS is not enabled by default, so enable it.

<pre>
sudo a2enmod proxy_http
</ pre>

Please <a href="/blog/20200519084454.html"> Restart Apache </a> for the settings to take effect.

Please refer to the following articles for how to enable / disable Apache modules.

<ul>
  <li> <a href="/blog/20200610082714.html"> Enable / disable Apache config file-basic config / module config / site config </a> </ li>
</ ul>

Note that mod_proxy_http depends on mod_proxy.

<h3> Apache error message when mod_proxy_http does not exist </ h3>

Example Apache error message when mod_proxy_http does not exist.

<pre>
Invalid command'<Proxy', perhaps misspelled or defined by a module not included in the server configuration
</ pre>