<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200526151435.html">
        <span itemprop = "name"> Apache </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Enable the proxy_wstunnel module for WebSocket reverse proxy in Apache </ h2>

If you have a WebSocket web application, enable the proxy_wstunnel module to reverse proxy with Apache.

<pre>
sudo a2enmod proxy_wstunnel
</ pre>

Please <a href="/blog/20200519084454.html"> Restart Apache </a> for the settings to take effect.

Please refer to the following articles for how to enable / disable Apache modules.

<ul>
  <li> <a href="/blog/20200610082714.html"> Enable / disable Apache config file-basic config / module config / site config </a> </ li>
</ ul>