<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop = "name"> Package management </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> Installing sqlite3 --SQLite Utility </h2>

Let's install "sqlite3" which is a SQLite client. Use the <a href="/blog/20200530085516.html"> apt</a> command.

<pre>
sudo apt install -y sqlite3
</pre>

Make sure you have the sqlite3 command available.

<pre>
sqlite3
</pre>

<h3> SQLite features </h3>

SQLite is not a client / server type database, but a library for processing rows such as database file creation / table creation, select, insert, update, delete.

Perl's DBD :: SQLite contains libraries that operate SQLite, and packages for installing header files and shared libraries like "* -dev" like DBD :: MySQL and DBD :: Pg. I don't need it.

This is a necessary step to enable the command line utility called sqlite3.