<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
    </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200829052743.html">
        <span itemprop = "name"> MariaDB </span>
    </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> MariaDB start / stop / restart / status check </h2>

Explains how to start / stop / restart / check the status of MariaDB.

<h4> MariaDB status check </h4>

To check the status of MariaDB, use "status" of the <a href="/blog/20200605104005.html"> systemctl</a> command.

<pre>
sudo systemctl status mariadb
</pre>

<h5> If it is running </h5>

If it is running, the following will be displayed.

<pre>
● mariadb.service --MariaDB 10.1.44 database server
   Loaded: loaded (/lib/systemd/system/mariadb.service; enabled; vendor preset: enabled)
   Active: active (running) since Mon 2020-05-18 12:38:49 JST; 22h ago
     Docs: man: mysqld (8)
           https://mariadb.com/kb/en/library/systemd/
 Main PID: 33941 (mysqld)
   Status: "Taking your SQL requests now ..."
    Tasks: 27 (limit: 9479)
   CGroup: /system.slice/mariadb.service
           mq33941 / usr / sbin / mysqld

May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: Processing databases
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: information_schema
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: mysql
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: performance_schema
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: Phase 6/7: Checking and upgrading tables
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: Processing databases
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: information_schema
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: performance_schema
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: Phase 7/7: Running'FLUSH PRIVILEGES'
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: OK </pre>
</pre>

<h5> When stopped </h5>

If it is stopped, the following will be displayed.

<pre>
● mariadb.service --MariaDB 10.1.44 database server
   Loaded: loaded (/lib/systemd/system/mariadb.service; enabled; vendor preset: enabled)
   Active: inactive (dead) since Tue 2020-05-19 10:53:02 JST; 6s ago
     Docs: man: mysqld (8)
           https://mariadb.com/kb/en/library/systemd/
  Process: 33941 ExecStart = / usr / sbin / mysqld $MYSQLD_OPTS $_WSREP_NEW_CLUSTER $_WSREP_START_POSITION (code = exited, status = 0 / SUCCESS)
 Main PID: 33941 (code = exited, status = 0 / SUCCESS)
   Status: "MariaDB server is down"

May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: mysql
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: performance_schema
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: Phase 6/7: Checking and upgrading tables
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: Processing databases
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: information_schema
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: performance_schema
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: Phase 7/7: Running'FLUSH PRIVILEGES'
May 18 12:38:50 development-batch / etc / mysql / debian-start [33977]: OK
May 19 10:53:01 development-batch systemd [1]: Stopping MariaDB 10.1.44 database server ...
May 19 10:53:02 development-batch systemd [1]: Stopped MariaDB 10.1.44 database server.
</pre>

<h4> Starting MariaDB </h4>

MariaDB is started using the systemctl command "start". Run with root privileges using the sudo command.

<pre>
sudo systemctl start mariadb
</pre>

Even if the boot is successful, the message that it was successful is not returned. Please check the status.

<h4> MariaDB outage </h4>

To stop MariaDB, use the systemctl command "stop". Run with root privileges using the sudo command.

<pre>
sudo systemctl stop mariadb
</pre>

If the outage is successful, no successful message will be returned. Please check the status.

<h4> Restart MariaDB </h4>

To restart MariaDB, use the systemctl command "restart". Run with root privileges using the sudo command.

<pre>
sudo systemctl restart mariadb
</pre>

restart simply executes the stop command and executes the start command.

<h3> To see the MariaDB start / stop log </h3>

Servers such as MariaDB are centrally managed by a program called systemd.

MariaDB start / stop log is output to systemd log.

Use the <a href="/blog/20200602135100.html"> journalctl command</a> to see the systemd logs. Specify the unit "mariadb" with the "-u" option. Please note that you will not be able to see the mariadb log unless you run it with sudo. If you want to see only the last part of the log, combine the "-r" option.

<pre>
sudo journalctl -r -u mariadb
</pre>

This is a sample log.

<pre>
--Logs begin at Mon 2020-06-01 15:51:16 JST, end at Thu 2020-07-23 14:33:01 JST. -
Jul 22 13:24:37 shinshina-development-app-00000001 / etc / mysql / debian-start [1896]: Triggering myisam-recover for all MyISAM tables and aria-recover for all Aria tables
Jul 22 13:24:37 shinshina-development-app-00000001 / etc / mysql / debian-start [1869]: Checking for insecure root accounts.
Jul 22 13:24:37 shinshina-development-app-00000001 / etc / mysql / debian-start [1826]: This installation of MySQL is already upgraded to 10.1.44-MariaDB, use --force if you still need to run mysql_upgrade
Jul 22 13:24:37 shinshina-development-app-00000001 / etc / mysql / debian-start [1826]: Looking for'mysqlcheck' as: / usr / bin / mysqlcheck
Jul 22 13:24:37 shinshina-development-app-00000001 / etc / mysql / debian-start [1826]: Looking for'mysql' as: / usr / bin / mysql
Jul 22 13:24:37 shinshina-development-app-00000001 / etc / mysql / debian-start [1826]: / usr / bin / mysql_upgrade: the'--basedir' option is always ignored
Jul 22 13:24:36 shinshina-development-app-00000001 systemd [1]: Started MariaDB 10.1.44 database server.
Jul 22 13:24:36 shinshina-development-app-00000001 / etc / mysql / debian-start [1822]: Upgrading MySQL tables if necessary.
Jul 22 13:24:35 shinshina-development-app-00000001 mysqld [1536]: 2020-07-22 13:24:35 139798878784640 [Note] / usr / sbin / mysqld (mysqld 10.1.44-MariaDB-0ubuntu0.18.04 .1) starting as process 1536 ...
Jul 22 13:24:33 shinshina-development-app-00000001 systemd [1]: Starting MariaDB 10.1.44 database server ...
--Reboot -
Jul 22 13:13:50 shinshina-development-app-00000001 systemd [1]: Stopped MariaDB 10.1.44 database server.
Jul 22 13:13:47 shinshina-development-app-00000001 systemd [1]: Stopping MariaDB 10.1.44 database server ... </pre>

<h3> To see MariaDB's systemd configuration file </h3>

MariaDB's systemd configuration file can be found under "systemctl status mariadb".

Let's take a look at the configuration file with the <a href="https://en.linux.perlzemi.com/blog/20200113083613.html"> cat command</a>.

<pre>
cat /lib/systemd/system/mariadb.service
</pre>

<h3> Other MariaDB information </h3>

<h4> To install MariaDB </h4>

The following article explains how to install MariaDB.

<a href="/blog/20200421174004.html"> Installing mariadb-server --MariaDB database server</a>

<h4> MariaDB configuration file </h4>

MariaDB's configuration file will be discussed in another article.