<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li>
      User management
    </ li>
  </ ul>
</ div>

<h2> Let's master the user management method </ h2>

I will explain about user management in Ubuntu.

<h4> User management </ h4>

<ul>
  <li> <a href="/blog/20200511173052.html"> Add user --useradd command </a> </ li>
  <li> <a href="/blog/20200402174004.html"> Delete user --userdel command </a> </ li>
  <li> <a href="/blog/20200401174004.html"> "/ etc / passwd" file that displays a list of users </a> </ li>
  <li> <a href="/blog/20200510173052.html"> Password setting --passwd command </a> </ li>
</ ul>

<h4> Group management </ h4>

<ul>
  <li> <a href="/blog/20200405174004.html"> Add a group --group add command </a> </ li>
  <li> <a href="/blog/20200404174004.html"> Delete group --groupdel command </a> </ li>
  <li> <a href="/blog/20200403174004.html"> "/ etc / group" file showing all groups and users belonging to the group </a> </ li>
  <li> <a href="/blog/20200330174004.html"> Add user to group --gpasswd -a </a> </ li>
  <li> <a href="/blog/20200329174004.html"> Remove user from group --gpasswd -d </a> </ li>
</ ul>

<h4> sudo </ h4>

<ul>
  <li> <a href="/blog/20200531085516.html"> Run with administrator privileges --sudo </a> </ li>
</ ul>