<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200819081929.html">
        <span itemprop = "name"> Disk management </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Check disk capacity and directory capacity </ h2>

This is an explanation of how to check the disk capacity and directory capacity.

It is the same as the one explained in the introduction to Linux server management, so I will link it.

<h4> Command to check disk capacity </ h4>

<ul>
  <li> <a href="https://en.linux.perlzemi.com/blog/20200601093211.html"> df command --check disk capacity </a> </ li>
</ ul>

<h4> Command to check directory capacity </ h4>

<ul>
  <li> <a href="https://en.linux.perlzemi.com/blog/20200531082545.html"> du command --check directory capacity </a> </ li>
</ ul>