<div class = "bread">
   <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
     <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
       <a itemprop="item" href="/">
         <span itemprop = "name"> Ubuntu </ span>
       </a>
       <meta itemprop = "position" content = "1" />
     </ li>
     <li>
       Disk management
     </ li>
   </ ul>
</ div>

<h2> Disk management </ h2>

Explains disk management such as connecting to a disk and mounting to a file system.

<ul>
   <li> <a href="/blog/20200601085516.html"> Check the physically connected disk </a> </ li>
   <li> <a href="/blog/20200528085516.html"> Initial format of new physical disk and mount to file system </a> </ li>
   <li> <a href="/blog/20200326174004.html"> Check disk capacity and directory capacity </a> </ li>
</ ul>