<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
    </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop = "name"> Package management </span>
    </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Zip installation-zipping / decompressing ZIP files </h2>

To compress / decompress in ZIP format with the extension zip, install the zip package using the <a href="/blog/20200530085516.html"> apt</a> command. Execute with administrator privileges with <a href="/blog/20200531085516.html"> sudo</a>.

<pre>
#zip installation
sudo apt install -y zip
</pre>

<h4> Confirm that the zip command is installed </h4>

Make sure you have installed the zip command to compress ZIP files.

<pre>
zip --help
</pre>

Along with the zip package, the unzip package that unzips in ZIP format is also installed.

<pre>
unzip --help
</pre>

Generally, in <a href="https://en.linux.perlzemi.com/"> Linux</a>, the standard compression format is the GZIP format with the extension gz. <a href="https://en.linux.perlzemi.com/blog/20200608103245.html"> gzip</a> command that can be compressed / decompressed in GZIP format when compressing / decompressing on Linux , Use the <a href="https://en.linux.perlzemi.com/blog/20200607103245.html"> gunzip</a> command. It is also common to compress using the "-z" option of the tar command. It uses the gzip algorithm internally.

The most commonly used compression format in Windows is the ZIP format. Install the zip package if the file format provided by some service or the web is ZIP and you need to handle ZIP.