<div class = "bread">
   <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
     <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
       <a itemprop="item" href="/">
         <span itemprop = "name"> Ubuntu </span>
      </a>
       <meta itemprop = "position" content = "1" />
     </li>
     <li>
       cron
     </li>
   </ul>
</div>

<h2> cron-Automatic execution of regular jobs </h3>

Cron is a resident application that automatically executes regular jobs.

<ul>
   <li> <a href="/blog/20200520084454.html"> Start / stop / restart / status check of cron, cron execution log</a> </li>
   <li> <a href="/blog/20200604085516.html"> crontab --Write a program to be executed periodically by cron</a> </li>
</ul>