<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
    </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li>
      Perl
    </li>
  </ul>
</div>

<h2> Perl --Web programming language </h2>

Explains how to install Perl and build a Web application execution environment.

<h3> User Perl and cpanm installation </h3>

<ul>
  <li> <a href="/blog/20200413174004.html"> User Perl and cpanm installation</a> </li>
  <li> <a href="/blog/20200729134756.html"> Deploying a web application with Mojolicious</a> </li>
</ul>

<h3> Modules required for web applications </h3>

<ul>
  <li> <a href="/blog/20200617081050.html"> Installing the web framework Mojolicious and running web applications</a> </li>
</ul>

<h3> Perl module that depends on the C language library </h3>

<ul>
  <li> <a href="/blog/20200221174004.html"> Install XML::LibXML with cpanm on user Perl</a> </li>
  <li> <a href="/blog/20200622115851.html"> Install Image::Magick with cpanm on user Perl</a> </li>
</ul>