<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
    </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200723101434.html">
        <span itemprop = "name"> User Management </span>
    </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> userdel command-delete user </h2>

You can delete a user with the <b> userdel command </b>. Run with root privileges with sudo.

<pre>
sudo userdel kimoto
</pre>


<pre>
sudo userdel kimoto
</pre>

Rest assured that the contents of your home directory and emails will not be deleted.

If this user was using the process, it cannot be deleted.

You need to do it when the user isn't using the process, or check the process and kill it if it's okay to kill it.

<pre>
#Check process
ps -ef
</pre>

<h3> Other user management operations </h3>

Add user.

<ul>
  <li> <a href="/blog/20200511173052.html"> Add user --useradd command</a> </li>
</ul>

User list.

<ul>
  <li> <a href="/blog/20200401174004.html"> "/ etc / passwd" file that displays a list of users</a> </li>
</ul>