<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200723101434.html">
        <span itemprop = "name"> User Management </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> groupadd command-add a group </ h2>

You can add a group with the <b> groupadd command </ b>. Execute with root privileges with <a href="/blog/20200118092236.html"> sudo </a>.

<pre>
sudo groupadd group name
</ pre>

The following is a sample to create a group "myapp-group" for an application.

<pre>
sudo groupadd myapp-group
</ pre>

To check the list of groups, output the "/ etc / group" file with the <a href="/blog/20200113083613.html"> cat </a> command.

<pre>
sudo cat / etc / group
</ pre>

Make sure myapp-group exists.

<pre>
myapp-group: x: 1003:
</ pre>

<h3> What do you need a group for? </ H3>

Creating a group has multiple purposes, but I will write when it is necessary for system development.

<h4> When multiple users save files in a directory </ h4>

If multiple users store files in a directory for storing data, you need to create a group so that the group can read and write the file.

It is safer to limit users so that only users who belong to a specific group can read and write, rather than allowing all users to read and write.

Suppose kimoto, tanaka, and yamada are developing with their own users. In this case, writing the file to the data directory is in each user's group.

If tanaka wrote it, it will be "tanaka: tanaka". Then kimoto cannot read or write.

I'll explain how to avoid this elsewhere, but in such cases, you first need to create a group for your application.

<h3> Other operations on the group </ h3>

The following article explains how to display the list of groups.

<ul>
  <li> <a href="/blog/20200403174004.html"> Display a list of groups "/ etc / group" file </a> </ li>
</ ul>

The following article explains how to delete a group.

<ul>
  <li> <a href="/blog/20200404174004.html"> groupdel command-delete group </a> </ li>
</ ul>