<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li>
      Email settings
    </li>
  </ul>
</div>

<h2> Email settings </h2>

This is an explanation of how to create an email address, DNS settings for emails, and mail server settings for sending emails.

<h3> Creating an email address and setting up a DNS server </h3>

<ul>
  <li> <a href="/blog/20200828123127.html"> Creating an email address and setting up a DNS server</a> </li>
</ul>

<h3> Mail server --postfix </h3>

<ul>
  <li> <a href="/blog/20200423174004.html"> Postfix installation-send mail sendmail command</a> </li>
  <li> <a href="/blog/20200824150919.html"> How to check the Postfix version</a> </li>
  <li> <a href="/blog/20200521085509.html"> Cloud mail delivery SendGrid and Postfix work together</a> </li>
</ul>