<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop = "name"> Package management </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> apt command-package management </ h2>

You can manage packages using the <b> apt command </ b>.

<h3> Package installation --apt install </ h3>

Use "apt install" to install the package. Execute with administrator privileges with the <a href="/blog/20200531085516.html"> sudo </a> command.

<pre>
sudo apt install package name
</ pre>

<h3> Package Removal --apt remove </ h3>

Use "apt remove" to remove the package. Execute with administrator privileges with the <a href="/blog/20200531085516.html"> sudo </a> command.

<pre>
sudo apt remove package name
</ pre>

<h3> apt system upgrade --apt upgrade </ h3>

Use "apt upgrade" to upgrade the apt system. Execute with administrator privileges with the <a href="/blog/20200531085516.html"> sudo </a> command.

If any package is already installed, it will be updated to the package referenced by the new apt system.

Keep in mind that in this case, even if the probability is low, there is a risk that the existing application will get stuck and you may need to modify the application.

<pre>
sudo apt upgrade
</ pre>

If you get an error with "apt install", try "apt upgrade". The error may be fixed.

<h3> Package management information </ h3>

Please refer to the following for the packages installed by default.

<a href="/blog/20200506174004.html"> Software packages installed by default on Ubuntu 18.04 LTS </a>

Please refer to the following article for searching the package name.

<a href="/blog/20200430174004.html"> Ubuntu package search site </a>

Please refer to the following articles to check the package dependencies.

<a href="/blog/20200427174004.html"> Check package dependencies </a>

<h3> Difference between apt and apt-get </ h3>

Starting with Ubuntu 14, the apt command is recommended for general package management.

apt is a wrapper application that allows system administrators to use the apt-get and apt-chace commands more concisely.

apt-get and apt-chache are now positioned as low-level layers one step below apt.

The differences between apt and apt-get are detailed below.

<a href="https://www.translatetheweb.com/?ref=TVert&from=1=ja&a=https%3A%2F%2Fitsfoss.com%2Fapt-vs-apt-get-difference%2F"> apt and apt -Explanation of the difference between get </a>

<h3> Official apt documentation </ h3>

The official documentation for apt is below.

<ul>
  <li> <a href="http://manpages.ubuntu.com/manpages/xenial/en/man8/apt.8.html"> Ubuntu Manpage: apt --command-line interface </a> </ li>
</ ul>

<h3> Packages that can be installed with apt </ h3>

The packages that can be installed with apt are introduced here.

<ul>
  <li> <a href="/blog/20200529085516.html"> Introduction of packages that can be installed on Ubuntu </a> </ li>
</ ul>