<h2> Checking and setting the time zone --timedatectl command </ h2>

You can check and change the time zone with the <b> timedatectl command </ b>. The time zone sets how far each country's time is ahead of UTC time (Coordinated Universal Time).

In Japan, it is 9 hours ahead.

<h3> Check time zone </ h3>

You can check the current time zone with the timedatectl command.

<pre>
timedatectl
</ pre>

The currently set time zone is displayed as shown below. The default is "UTC".

<pre>
                      Local time: Wed 2020-05-13 03:44:55 UTC
                  Universal time: Wed 2020-05-13 03:44:55 UTC
                        RTC time: Wed 2020-05-13 03:44:55
                       Time zone: Etc / UTC (UTC, +0000)
       System clock synchronized: yes
systemd-timesyncd.service active: yes
                 RTC in local TZ: no
</ pre>

<h3> List of available time zones </ h3>

Use the "timedatectl list-timezones" command to display a list of available timezones.

<pre>
timedatectl list-timezones
</ pre>

You will see a lot. In the case of Japan, it is "Asia / Tokyo".

<pre>
Asia / Tashkent
Asia / Tbilisi
Asia / Tehran
Asia / Thimphu
Asia / Tokyo
Asia / Tomsk
Asia / Ulaanbaatar
Asia / Urumqi
Asia / Ust-Nera
Asia / Vientiane
Asia / Vladivostok
</ pre>

<h3> Change time zone </ h3>

Let's change the time zone. Use the "timedatectl set-timezone" command to change the timezone. For here in Japan, set "Asia / Tokyo". Execute with administrator privileges using the sudo command.

<pre>
sudo timedatectl set-timezone Asia / Tokyo
</ pre>