<h2> Installing Perl on Ubuntu </h2>

How to install Perl on Ubuntu. Install Perl using the <a href="/blog/20200530085516.html"> apt</a> command.

<pre>
sudo apt install -y perl
</pre>

Perl is often installed by default on Ubuntu, but if you don't have Perl installed on Ubuntu, install Perl.

If you can confirm the version of Perl, you have successfully installed Perl on Ubuntu.

<pre>
perl -v
</pre>

<h3> Perl module installation </h3>

It is not installed by default, but it is a Perl module installation that is highly needed.

<ul>
  <li> <a href="/blog/20200516081846.html"> Installing the perl-doc package --perldoc command</a> </li>
  <li> <a href="/blog/20200515081846.html"> Install libio-socket-ssl-perl --Perl IO::Socket::SSL</a> </li>
  <li> <a href="/blog/20200606082859.html"> Install libreadline-dev-ReadLine library for saving and searching command execution history</a> </li>
  <li> <a href="/blog/20200227174004.html"> Installing libterm-readline-gnu-perl-Perl's Term::ReadLine::Gnu module</a> </li>
</ul>

<h3> Installing Perl on Ubuntu version 12 and below </h3>

The apt command was introduced from Ubuntu 14, so if you have Ubuntu version 12 or lower, <a href="http://manpages.ubuntu.com/manpages/cosmic/ja/man8/apt-get.8" Use .html "> apt-get</a>.

<pre>
sudo apt-get install -y perl
</pre>

<h3> Installing Perl in the user environment </h3>

The Perl described on this page is the system Perl you want to install on your system.

Installing Perl in your environment is described below.

<ul>
  <li> <a href="/blog/20200413174004.html"> Installing Perl in the user environment + installing cpanm</a>
</ul>