<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200827123127.html">
        <span itemprop = "name"> Perl </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Install XML :: LibXML with cpanm in user Perl </h2>

How to install XML :: LibXML with cpanm in user Perl.

<h3> XML :: Package required for LibXML </h3>

The libxml2-dev package is required to install XML :: LibXML.

<ul>
  <li> <a href="/blog/20200222174004.html"> Installing libxml2-dev --Libxml2 headers and libraries</a> </li>
</ul>

<h3> XML :: Install LibXML </h3>

<pre>
cpanm XML :: LibXML
</pre>

Make sure you can read XML :: LibXML.

<pre>
perl -e'use XML :: LibXML'
</pre>