<div class = "bread">
   <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
     <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
       <a itemprop="item" href="/">
         <span itemprop = "name"> Ubuntu </ span>
       </a>
       <meta itemprop = "position" content = "1" />
     </ li>
     <li>
       Domain management
     </ li>
   </ ul>
</ div>

<h2> Domain management </ h2>

Explains how to get a domain name and set up a DNS server.

<ul>
   <li> <a href="/blog/20200807062918.html"> Get domain name and set DNS server </a> </ li>
</ ul>

The DNS settings for email addresses are explained below.

<ul>
   <li> <a href="/blog/20200828123127.html"> Creating an email address and setting up a DNS server </a> </ li>
</ ul>