<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200723101434.html">
        <span itemprop = "name"> User Management </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> groupdel command-delete group </h2>

You can delete a group with the <b> groupdel command </b>. Execute with root privileges with <a href="/blog/20200118092236.html"> sudo</a>.

<pre>
sudo groupdel group name
</pre>

The following is a sample to delete the group "myapp-group" for the application.

<pre>
sudo groupdel myapp-group
</pre>

<h3> Other operations on the group </h3>

The following article explains how to display the list of groups.

<ul>
  <li> <a href="/blog/20200403174004.html"> Display a list of groups "/ etc / group" file</a> </li>
</ul>

The following article explains how to add a group.

<ul>
  <li> <a href="/blog/20200405174004.html"> groupadd command-add a group</a> </li>
</ul>