<h2> Install libmagickcore-dev --ImageMagick headers and libraries </h2>

How to install libmagickcore-dev. Install using the <a href="/blog/20200530085516.html"> apt</a> command. ImageMagick headers and libraries will be installed.

<pre>
sudo apt install -y libmagickcore-dev
</pre>

For the location of the installed ImageMagick header files and libraries, see <a href="/blog/20200429174004.html"> Header file read path</a> and <a href="/blog/20200428174004.html". Please refer to> Library loading path</a>.