<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop = "name"> Package management </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>
<h2> Install gcc </ h2>

I will explain how to install gcc. Install gcc using the <a href="/blog/20200530085516.html"> apt </a> command. Run with administrator privileges using sudo.

<pre>
sudo apt install -y gcc
</ pre>

<h3> Main uses of gcc </ h3>

The main use of gcc is to compile C language. You can compile C source files to create object files.

An object file is a machine language file that contains processing for one or more C language files.

gcc also includes a linker. The linker feature allows you to combine object files to create executables, static libraries, and shared libraries.

gcc contains C language source files from <a href="https://perlzemi.com/blog/20100504127089.html"> CPAN </a> <a href="https://perlzemi.com/ blog / 20100809127859.html "> XS Module </a> Required when installing.

<h3> C ++ compiler g ++ </ h3>

C ++ may be used in Perl's XS module, so be sure to install g ++, which is a C ++ compiler.

<ul>
  <li> <a href="/blog/20200503174004.html"> Install g ++ </a> </ li>
</ ul>