<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop = "name"> Package management </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> Installing libmariadb-dev --MariaDB server headers and libraries </h2>

Install "libmariadb-dev" containing MariaDB server headers and libraries with the <a href="/blog/20200530085516.html"> apt</a> command.

<pre>
sudo apt install -y libmariadb-dev
</pre>

For the location of the installed MariaDB database header files and libraries, see <a href="/blog/20200429174004.html"> Header file read path</a> and <a href="/blog/20200428174004.html". Please refer to "> Library loading path</a>.

<h4> Note </h4>

This procedure was performed to install Perl's DBD :: MySQL, but to install Perl's DBD :: MySQL, instead of "libmariadb-dev", the MariaDB client header and library " It turns out that <a href="/blog/20200411174004.html"> libmariadbclient-dev</a> "is needed.