<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200723101434.html">
        <span itemprop = "name"> User Management </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> passwd command-password setting </ h2>

After adding the user, set the password as well. Use the <b> passwd </ b> command. User management such as password setting is performed as the root user using sudo.

<pre>
sudo passwd kimoto
</ pre>

You will be asked to enter the password and re-enter it for confirmation, so set it.

<h3> How to change the root user password? </ h3>

Run the passwd command with the username root or without a username.

<pre>
sudo passwd root

or

sudo passwd
</ pre>