<div class = "bread">
   <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
     <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
       <a itemprop="item" href="/">
         <span itemprop = "name"> Ubuntu </ span>
       </a>
       <meta itemprop = "position" content = "1" />
     </ li>
     <li>
       systemd
     </ li>
   </ ul>
</ div>

<h2> systemd --Manage server applications </ h3>

systemd is a program for managing server applications and resident applications.

<ul>
   <li> <a href="/blog/20200605104005.html"> systemctl --Managing server applications managed by systemd </a> </ li>
   <li> <a href="/blog/20200602135100.html"> journalctl command --View the log of the server managed by systemd </a> </ li>
   <li> <a href="/blog/20200901150837.html"> Register your Mojolicious application with systemd </a> </ li>
</ ul>