<h2> How to use Ubuntu </ h2>

I will explain how to use Ubuntu.

<h3> How to use Ubuntu </ h3>

<h4> I want to use Ubuntu on my PC for free </ h4>

An easy way to use Ubuntu on your PC for free is to use a feature called WSL for developers on Windows 10. We are still in the process of progress, but expectations are high.

You can install a virtual machine such as VM Ware and run Ubuntu on it, but you have to accept a few things, such as being heavy, complicated to install, and having difficulty exchanging files between your PC and the virtual machine. there is.

<h4> I want to use Ubuntu cheaply </ h4>

If you want to use Ubuntu at a low price, apply for a service called VPS (Virtual Private Server) of Sakura Internet or GMO.

With VPS service, you can use Linux server such as Ubuntu cheaply on the Internet.

As you proceed with the procedure, you can select Ubuntu by selecting the OS.

When using it as a production server, VPS is maintenance and may stop for several hours to half a day, so please judge whether it is acceptable from the requirements of your service.

The application server can be technically replaced, but it is difficult, and the DB server feels like "Wow".

<h4> I want to use Ubuntu with cloud services </ h4>

Sign up for pay-as-you-go cloud services such as AWS, Microsoft Azure, and gcp.

With cloud services, you can easily operate a Linux server such as Ubuntu on the Internet using a GUI screen.

You can select Ubuntu by installing the OS.

One caveat with cloud services is that if you know you're going to use a lot of images and videos, it's probably cheaper to go on-premises.

There is also an on-premises service that has an API compatible with object storage S3, so if you know that you will deliver a large amount of images and videos, we recommend cost comparison.

Another attraction of on-premises is that you can respond immediately in case of emergency.

If text processing is your main service, using a cloud service will be cost-effective.

<h3> Initial settings </ h3>

This is a common pattern in the initial settings.

<h4> root password </ h4>

For cloud services and VPS, I think there is a procedure to set a root password. Let's set a root password.

root is the most privileged special user.

<h4> Port settings </ h4>

In the case of cloud services and VPS, you may be asked which port you want to keep open.

At least SSH (22), HTTP (80), HTTPS (443) ports should be open.

<a href="https://en.webapp.perlzemi.com/"> If you are doing web system development </a>, <a href="https://en.mojolicious.perlzemi.com/"> It's a good idea to keep Mojolicious </a>'s development port 3000 open.

<h3> Get to the console </ h3>

After installing Ubuntu, please do your best to reach the screen of the cone sole of various services.

The console is that black screen where you can type commands with the CUI.

In the case of WSL, it is OK if the bash screen is open.

In the case of a virtual machine, it is OK if the bash screen in the virtual machine is open.

In the case of VPS and cloud services, there are some that can access the console on the Web, so please do your best to get there.

When you are ready to type commands on the console, you are ready to go.

<h3> Log in as the initial user </ h3>

When you reach the console, log in as the default user. Depending on the service, you may have an initial user like ubuntu, or you may be able to specify your own initial user name.

<pre>
login: login:
</ pre>

Is displayed, enter the initial user name (for example, ubuntu) and press Enter.

<pre>
Pawwsord:
</ pre>

Is displayed, enter the root password.

Once you're logged in, you're ready to go. Proceed to <a href="/blog/20200511173052.html"> Add User </a>.

<h3> Isn't there a more detailed procedure? </ H3>

Since the transition is rapid, please search for how to install Ubuntu for various services with a search engine.

If you are self-taught, search and overcome. There are many things that you have to solve by yourself even in the field, so please do your best.

The recommendation for beginners is that VPS is cheap, easy, and convenient.

<h3> How to use Ubuntu </ h3>

<ul>
  <li> <a href="https://www.youtube.com/watch?v=aM5pLf8gAZQ"> How to use Ubuntu --Video commentary </a> </ li>
</ ul>