<div class = "bread">
   <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
     <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
       <a itemprop="item" href="/">
         <span itemprop = "name"> Ubuntu </ span>
       </a>
       <meta itemprop = "position" content = "1" />
     </ li>
     <li>
       MariaDB
     </ li>
   </ ul>
</ div>

<h2> MariaDB --database server </ h3>

MariaDB is a database server developed by forking MySQL by the original author of MySQL after the acquisition of MySQL by Oracle.

<ul>
   <li> <a href="/blog/20200417174004.html"> MariaDB start / stop / restart / status check </a> </ li>
   <li> <a href="/blog/20200224174004.html"> MariaDB initialization and user creation </a> </ li>
   <li> <a href="/blog/20200223174004.html"> Ubuntu MariaDB server configuration file location </a> </ li>
</ ul>