<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
    </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop = "name"> Package management </span>
    </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Installing certbot-Getting and Renewing Let's Encrypt SSL Certificate </h2>

To get and renew the Let's Encrypt SSL certificate, install the certbot package with the <a href="/blog/20200530085516.html"> apt</a> command.

You can get an SSL certificate for free with Let's Encrypt, but certbot is an application that gets and renews an SSL certificate from Let's Encrypt.

<pre>
sudo apt install -y certbot
</pre>

Make sure you have certbot installed.

<pre>
certbot --help
</pre>

<h4> Use the SSL certificate obtained by Let's Encrypt with Apache </h4>

If you use <a href="/blog/20200526151435.html"> Apache</a> with the SSL certificate obtained by Let's Encrypt, use the python-certbot-nginx package, which is an Apache plugin for Certbot. Let's install it in. It provides a mechanism that makes it easy to use the SSL certificate obtained by Let's Encrypt in the Apache configuration file.

<pre>
sudo apt install -y python-certbot-apache
</pre>

<h4> Use the SSL certificate obtained by Let's Encrypt with Nginx </h4>

If you want to use the SSL certificate obtained by Let's Encrypt with Nginx, install the python-certbot-nginx package which is the Nginx plugin for Certbot together if you use the SSL certificate obtained by Let's Encrypt. .. It provides a mechanism that makes it easy to use the SSL certificate obtained by Let's Encrypt in the Nginx configuration file.

<pre>
sudo apt install -y python-certbot-nginx
</pre>