<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
    </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200827123127.html">
        <span itemprop = "name"> Perl </span>
    </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Installing Perl in the user environment + installing cpanm </h2>

Install user Perl for web system development. You will also install a tool called cpanm to install the Perl modules used for web system development.

You install user Perl separately from system Perl because you can install Perl modules so that they don't pollute your system environment. If there is a security vulnerability in Perl or a Perl module, it can be updated quickly, which is good for security.

There are perlbrew or plenv as tools to install user Perl, but you can choose whatever you like.

It is explained on the <a href="https://perlzemi.com/"> Perl seminar</a> site.

<ul>
  <li> <a href="https://perlzemi.com/blog/20110220130464.html"> perlbrew --Install Perl in your environment</a> </li>
  <li> <a href="https://perlzemi.com/blog/20180816153437.html"> plenv --Install Perl in your environment</a> </li>
</ul>