<div class = "bread">
   <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
     <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
       <a itemprop="item" href="/">
         <span itemprop = "name"> Ubuntu </span>
     </a>
       <meta itemprop = "position" content = "1" />
     </li>
     <li>
       Redis
     </li>
   </ul>
</div>

<h2> Redis server-volatile data storage server </h2>

Learn how to install a Redis server. The Redis server is used for session management, storage of volatile data such as one-time passwords, and Pub / Sub functions for realizing the real-time Web such as push notifications.

<ul>
   <li> <a href="/blog/20200225174004.html"> Redis server start / stop / restart / status check</a> </li>
   <li> <a href="/blog/20200720125704.html"> redis-cli --Run Redis command from Redis client</a> </li>
</ul>