<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop = "name"> Package management </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Installing libopencv-dev --OpenCV library header files and libraries </ h2>

I will explain how to install libopencv-dev. Install libopencv-dev using the <a href="/blog/20200530085516.html"> apt </a> command. Run with administrator privileges using sudo.

<pre>
sudo apt install -y libopencv-dev
</ pre>

For the location of the installed OpenCV header files and libraries, see <a href="/blog/20200429174004.html"> Header file read path </a> and <a href="/blog/20200428174004.html". Please refer to> Library loading path </a>.

<h3> Main uses of OpenCV </ h3>

OpenCV is an image processing library.