<h2> Firewall settings --ufw command </h2>

This is an explanation of how to set a firewall using the ufw command in Ubuntu.

The goal is to be able to block communication coming in from outside the server for each port number.

If your VPS or cloud service provides firewall functionality, it may be useful to use it. If you are on-premises or have a desire to control it with commands, you can use the ufw command.

<h3> Check the firewall status </h3>

Use the "ufw status" command to check the status of the firewall.

<pre>
sudo ufw status
</pre>

<h3> Enable firewall </h3>

To enable the firewall, use the "ufw enable" command.

<pre>
sudo ufw enable
</pre>

If you have enabled a firewall, be careful not to drop the device until you have checked the firewall. The SSL connection you are connecting to is not affected.

If the SSH connection port is blocked, communication will not be possible, and in the case of VPS or cloud server, it will be operated from the web console, and in the case of on-premises, if the web console is not prepared, it will be operated from the console of the local machine. You will need to do it. Please work with caution.

<h3> Disable firewall </h3>

To disable the firewall, use the "ufw disable" command.

<pre>
sudo ufw disable
</pre>

<h3> Open port </h3>

Let's open the port.

<pre>
#HTTP port
sudo ufw allow 80

# HTTPS port
sudo ufw allow 443

#Default SSH port
sudo ufw allow 22

# SSH port set arbitrarily
sudo ufw allow 51234
</pre>

<h3> Close the released port </h3>

Use "ufw delete" to close the released port. The rule name will be something like "allow 22".

<pre>
sudo ufw delete allow 22
</pre>