<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
    </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200526151435.html">
        <span itemprop = "name"> Apache </span>
    </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Test if Apache config file is correct --apachectl -t </h2>

To test that the Apache configuration file is correct, use the "-t" option of the apachectl command.

<pre>
sudo apachectl -t
</pre>

If you are reading <a href="/blog/20200307174004.html"> self SSL certificate</a>, you will need root privileges, so it is better to run with root privileges with sudo.

<a href="/blog/20200605104005.html"> Restart Apache</a> with the <a href="/blog/20200605104005.html"> systemctl</a> command with the Aapche configuration file wrong. If you do, Apache will stop. When Apache stops, all websites and web services running on Apache will go down.

This is a common mistake that many engineers experience. I think there are many people who are impatient because all the websites have stopped.

Before restarting Apache, it's a good idea to get in the habit of testing the Apache configuration files for correctness.

Also, even if the Apache config file is correct, it just means that you can reboot, and it may not be working as intended because of the wrong config.

It is important to back up the configuration file so that it can be restored.

In the case of Ubuntu, the configuration file is divided into small parts, so it would be convenient to manage it using <a href="https://en.git.perlzemi.com/"> Git</a>.

If you need to change the Aapche config file, it's a good idea to change it as little as possible and restart, making sure there are no mistakes. If you change it all at once, you won't know what's wrong or you'll have to redo everything.