<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200526151435.html">
        <span itemprop = "name"> Apache </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> How Apache child process execution user writes to data directory </ h2>

In Ubuntu Apache, after starting with root privileges, the child process that actually receives the request is executed by the user "www-data".

Let's take a look at the actual process with the ps command. Use the <a href="https://en.linux.perlzemi.com/blog/20200602093211.html"> grep </a> command to narrow down the apache.

<pre>
ps -ef | grep apache
</ pre>

<pre>
root 1624 1 0 Jun05? 00:00:10 / usr / sbin / apache2 -k start
admins 10576 10188 0 13:11 pts / 1 00:00:00 grep --color = auto apache
www-data 115206 1624 0 06:25? 00:00:00 / usr / sbin / apache2 -k start
www-data 115207 1624 0 06:25? 00:00:00 / usr / sbin / apache2 -k start
</ pre>

In the introduction to Ubuntu server construction, we introduce the operation of creating a group "myapp-group" for applications and allowing users belonging to the group to write to the data directory.

<ul>
  <li> <a href="/blog/20200327174004.html"> How multiple users read and write to the data directory --Web app file upload directory </a> </ li>
</ ul>

If a CGI application exists and is launched by Aapche, use the "www-data" user to write files to this data directory, <a href="/blog/20200330174004.html"> gpasswd. Add it to the myapp-group group with the </a> command.

<pre>
sudo gpasswd -a www-data myapp-group
</ pre>