<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </span>
    </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200829052743.html">
        <span itemprop = "name"> MariaDB </span>
    </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Ubuntu MariaDB server configuration file location </h2>

The location of the MariaDB configuration file on Ubuntu is in the following directory:

<pre>
/etc/mysql/mariadb.conf.d
</pre>

There are four configuration files in this. The MariaDB server configuration file is "50-server.cnf".

<pre>
50-client.cnf 50-mysql-clients.cnf 50-mysqld_safe.cnf 50-server.cnf
</pre>