<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Ubuntu </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200529085516.html">
        <span itemprop = "name"> Package management </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>
<h2> Check package dependencies </ h2>

Use the "apt-cache depends" command to check package dependencies.

<pre>
apt-cache depends libpng-dev
</ pre>

The above is to find out what packages "libpng-dev" depends on. The output result is as follows.

<pre>
libpng-dev
  Depends: libpng16-16
  Depends: zlib1g-dev
  Conflicts: <libpng12-0-dev>
  Conflicts: <libpng12-dev>
  Conflicts: <libpng2-dev>
  Conflicts: <libpng3-dev>
  Breaks: <libpng16-dev>
  Breaks: <libpng16-devtools>
  Recommends: libpng-tools
  Replaces: <libpng16-dev>
  Replaces: <libpng16-devtools>
</ pre>