<h2> Install Google Chrome </h2>

Install Google Chrome. I tried it on Ubuntu 18.

Add a repository for Google Chrome.

<pre>
sudo sh -c'echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
</pre>

Add the required libraries in advance.

<pre>
sudo apt install -y wget
sudo apt install -y gnupg
</pre>

Add the public key.

<pre>
sudo wget -q -O --https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add-
</pre>

Updated repository for Google Chrome.

<pre>
sudo apt update
</pre>

Install Google Chrome with the apt command.

<pre>
sudo apt install -y google-chrome-stable
</pre>

Let's check the version.

<pre>
google-chrome --version
</pre>

This is the output result of the version.

<pre>
Google Chrome 96.0.4664.45
</pre>

<h3> Run Google Chrome headless </h3>

Headless execution means accessing a website without a GUI screen. Run Google Chrome headless and take a screenshot.

<pre>
google-chrome --disable-setuid-sandbox --no-sandbox --headless --disable-gpu --dump-dom https://www.chromestatus.com/
</pre>

It is OK if the HTML tree is displayed on the screen.

<h3> How to do JavaScript-compatible web scraping in Perl? </H3>

To do JavaScript-enabled web scraping in Perl, in addition to Google Chrome, <a href="/blog/20211116083934.html"> Install Chrome Driver</a> and <a href="https://perlzemi.com" /blog/20091116124667.html"> Perl module</a> <a href="https://perlzemi.com/blog/20210105145700.html"> Selenium::Remote::Driver</a> is required.

If you want to delete the repository for Google Chrome.

<h3> If you want to delete the repository for Google Chrome </h3>

This is the procedure when you want to delete the repository for Google Chrome due to mistakes.

<pre>
sudo rm /etc/apt/sources.list.d/google-chrome.list
</pre>