<h2> Install ChromeDriver </h2>

Install the ChromeDriver to automatically control your Google Chrome browser programmatically using Selenium. Place the ChromeDriver binaries directly. It is assumed that it is a 64-bit version of Linux. Confirmed on Ubuntu 18.

<pre>
google-chrome --version
</pre>

version.

<pre>
Google Chrome 96.0.4664.45
</pre>

Download ChromeDriver from the <a href="https://chromedriver.chromium.org/downloads"> ChromeDriver download page</a>. Download the same version of Chrome above to avoid problems.

<pre>
cd /usr/local/src
export CHROME_VERSION=96.0.4664.45
sudo wget https://chromedriver.storage.googleapis.com/$CHROME_VERSION/chromedriver_linux64.zip
sudo unzip chromedriver_linux64.zip
sudo mv chromedriver /usr/local/bin/
</pre>

Check the version of ChromeDriver.

<pre>
chromedriver --version
</pre>

The output result of the version.

<pre>
ChromeDriver 96.0.4664.45 (76e4c1bb2ab4671b8beba3444e61c0f17584b2fc-refs/branch-heads/4664@{#947})
</pre>

<h3> Install Google Chrome </h3>

The ChromeDriver is required to automatically control the Google Chrome browser programmatically using Selenium. Google Chrome itself is required separately.

<ul>
  <li> <a href="/blog/20211117083934.html"> Install Google Chrome</a> </li>
</ul>

<h3> How to programmatically perform JavaScript-compatible web scraping? </H3>

To programmatically perform JavaScript-enabled web scraping, you need the Selenium library provided by the programming language. Perl-<a href="https://perlzemi.com/blog/20210105145700.html"> Selenium::Remote::Driver</a>, PHP, Pyhton, Ruby and other Selenium libraries.