<h2> Introduction to Ubuntu server construction </h2>

Ubuntu Server Construction Primer is a free web course for building a server from scratch on Ubuntu, one of the Linux distributions. The goal is to build a Web system development environment. If you build a Web development environment, you can almost complete the database environment for data analysis.

In this course, we will build a scalable, modern, real-time web-enabled web application on Ubuntu.

We will explain how to install a web server on Ubuntu, create a web application, connect to the web application from the web server with a reverse proxy, and publish it to the outside. Use Perl's web framework as a sample web application.

As of November 17, 2021, the version of Ubuntu has been confirmed on Ubuntu 18. Unless otherwise noted, it is assumed to work on Ubuntu 20 and Ubuntu 16.

If you like this free Ubuntu course, why not share it with others?

<h3> Make Ubuntu available </h3>

Let's make Ubuntu available.

<ul>
  <li> <a href="/blog/20200509155552.html"> How to use Ubuntu</a> </li>
</ul>

Proceed to the console screen where you can execute commands, and then log in as the initial user.

<h3> Create User </h3>

Next, create a user on the console screen. Let's create two users, one to run the web application (myapp) and one to our own (for example, kimoto).

Add user There is an "-m" option, set a password, and add it to the <a href="/blog/20200406174004.html"> sudo</a> group.

<ul>
  <li> <a href="/blog/20200511173052.html"> Add user --useradd command</a> </li>
</ul>

<h3> Create group </h3>

Create the "myapp-group" group that your web application will need. This is required for web application users, development users, and Apache users to access the data directory.

<ul>
  <li> <a href="/blog/20200405174004.html"> Add a group --group add command</a> </li>
</ul>

Next, let's add myapp and developer users (eg kimoto) to "myapp-group".

<ul>
  <li> <a href="/blog/20200330174004.html"> Add user to group --gpasswd -a</a> </li>
</ul>

<h3> Firewall settings </h3>

Open the following ports in the firewall settings of the network provided by the hosting service. If you are building your server on-premises, use the <a href="/blog/20200907132441.html"> ufw command</a> to open the following ports.

<table>
  <tr> <td> HTTP </td> <td> 80 </td>
  <tr> <td> HTTPS </td> <td> 443 </td>
  <tr> <td> SSH </td> <td> <a href="/blog/20200715102902.html"> SSH port</a> (default port 22 is dangerous) </td>
  <tr> <td> Development web app </td> <td> 3000 </td>
  <tr> <td> Production web app </td> <td> 8080 </td>
</table>

Port 3000 is the default port for the <a href="https://en.mojolicious.perlzemi.com/"> Mojolicious</a> development server.

If you have multiple developers, open another port from the packet filter as needed (3001, 3002, etc.).

Port 8080 is the default port number for Mojolicious's production server.

If you run multiple web applications, open another port from the packet filter as needed (8081, 8082, etc.).

<h3> Using SSH client </h3>

Let's connect to the server with SSH from your computer so that you can execute commands and edit files.

<h4> Command execution on SSH client </h4>

In the case of Windows, TeraTerm is a tool for connecting to an SSH server with an SSH client and executing commands.

<ul>
  <li> <a href="https://linux.perlclub.net/blog/20200525082545.html"> Send commands to a Linux server-Installing and using TeraTerm</a> </li>
</ul>

There are SSH clients that work on other Windows such as <a href="https://www.atmarkit.co.jp/ait/articles/1006/25/news095.html"> PuTTY</a>, so you can use it as you like. so.

For Mac, you can use the ssh command from the terminal.

<h4> Use SCP to edit files on the server </h4>

You can edit files on the server using a protocol built on SSH called SCP.

WinSCP is the SCP client for Windows.

<ul>
  <li> <a href="https://linux.perlclub.net/blog/20200520082545.html"> Edit files on Linux server-Installing and using WinSCP</a> </li>
</ul>

There is software on your Mac that can replace WinSCP on Windows, so install it.

<h3> SSH server settings </h3>

<ul>
  <li> <a href="/blog/20200715102902.html"> Change SSH port-default port 22 is a high security risk</a> </li>
</ul>

<h3> Time zone setting </h3>

Let's set the time zone to "Asia / Tokyo".

<ul>
  <li> <a href="/blog/20200507174004.html"> Checking and setting the time zone --timedatectl command</a> </li>
</ul>

<h3> Package installation </h3>

Let's install the packages required to build the Web system development environment. <a href="/blog/20200506174004.html"> Default package</a> will install what is missing.

Installation may not work, so make sure you have the latest version of apt first.

<ul>
  <li> <a href="/blog/20200524135533.html"> apt update --apt update</a> </li>
</ul>

First, let's build a web server, application server, mail sending server, and DB server all in one machine.

<h4> Compiler Linker </h4>

Installation of C language / C ++ compiler / linker.

<ul>
  <li> <a href="/blog/20200514084132.html"> Install make</a> </li>
  <li> <a href="/blog/20200504174004.html"> Install gcc</a> </li>
  <li> <a href="/blog/20200503174004.html"> Install g ++</a> </li>
</ul>

<h4> Text editor </h4>

<ul>
  <li> <a href="/blog/20200825150919.html"> Install vim</a> </li>
</ul>

<h4> HTTP client </h4>

<ul>
  <li> <a href="/blog/20200826170338.html"> Install curl</a> </li>
</ul>

<h4> SSL communication </h4>

<ul>
  <li> <a href="/blog/20200412174004.html"> Installing libssl-dev --OpenSSL header files and libraries</a> </li>
</ul>

<h4> Image processing </h4>

<ul>
  <li> <a href="/blog/20200501174004.html"> Install libpng-dev</a> </li>
  <li> <a href="/blog/20200502174004.html"> Install libgif-dev</a> </li>
  <li> <a href="/blog/20200426174004.html"> Install libjpeg-dev</a> </li>
</ul>

<h4> Compression / decompression </h4>

<ul>
  <li> <a href="/blog/20200323174004.html"> Zip installation-zipping / decompressing ZIP files</a> </li>
</ul>

<h4> Network </h4>

<ul>
  <li> <a href="/blog/20200324174004.html"> Installing net-tools-deprecated but if you want to use ifconfig, arp, route, netstat for the time being</a> </li>
</ul>

<h4> Repository management </h4>

<ul>
  <li> <a href="/blog/20200607082859.html"> Install git-Git distributed repository management system</a> </li>
</ul>

<h4> SSL certificate </h4>

<ul>
  <li> <a href="/blog/20200319174004.html"> Installing certbot --Getting and Renewing Let's Encrypt SSL Certificate</a> </li>
</ul>

<h4> Programming language </h4>

Installation of programming language. In alphabetical order.

<ul>
  <li> <a href="/blog/20200303174004.html"> Java installation</a> </li>
  <li> <a href="/blog/20200302174004.html"> Install nodejs</a> </li>
  <li> <a href="/blog/20200616085351.html"> Perl installation</a> </li>
  <li> <a href="/blog/20200613085351.html"> PHP installation</a> </li>
  <li> <a href="/blog/20200301174004.html"> Installing Python 2</a> </l>i>
  <li> <a href="/blog/20200228174004.html"> Installing Python 3</a> </li>
  <li> <a href="/blog/20200304174004.html"> Install Ruby</a> </li>
</ul>

<h3> Creating a directory for data </h3>

Create a directory for your data to store files uploaded from your web application or to store JSON that summarizes your data in batch. This directory is where web applications launched by the "myapp" user and other development users upload files. Let's set appropriate permissions.

If you want to use an attached disk and make it a directory for data, follow these steps first. A directory for the data called "/ datadrive" will be created.

<ul>
  <li> <a href="/blog/20200601085516.html"> Check the physically connected disk</a> </li>
  <li> <a href="/blog/20200528085516.html"> Initial format of new physical disk and mount to file system</a> </li>
</ul>

To use the default disk of the application server, create "/ datadrive" with the mkdir command.

<pre>
sudo mkdir / datadrive
</pre>

Then make this data directory writable to application users and other development users.

<ul>
  <li> <a href="/blog/20200327174004.html"> How multiple users read and write to the data directory --Web app file upload directory</a> </li>
</ul>

This completes the data directory.

<h3> Redis server </h3>

Install and check the startup of the Redis server, which is the storage server for volatile information.

Make sure the Redis server is up by running "sudo systemctl status redis-server" in the following article.

<ul>
  <li> <a href="/blog/20200525135533.html"> Install redis-server</a> </li>
  <li> <a href="/blog/20200225174004.html"> Redis server start / stop / restart / status check</a> </li>
</ul>

<h3> Database server MariaDB </h3>

Install and check the startup of MariaDB, which is a database server.

<h4> Install database server and related libraries </h4>

<ul>
  <li> <a href="/blog/20200422174004.html"> Installing mariadb-client --MariaDB client</a> </li>
  <li> <a href="/blog/20200421174004.html"> Installing mariadb-server --MariaDB database server</a> </li>
  <li> <a href="/blog/20200411174004.html"> Installing libmysqlclient-dev --MariaDB client headers and libraries</a> </li>
  <li> <a href="/blog/20200419174004.html"> Installing libmariadb-dev --MariaDB database headers and libraries</a> </li>
</ul>

<h4> Confirm database server startup </h4>

Make sure MariaDB is running by running "sudo systemctl status mariadb" in the following article.

<ul>
  <li> <a href="/blog/20200417174004.html"> MariaDB start / stop / restart / status check</a> </li>
</ul>

<h4> MariaDB server initialization </h4>

Let's initialize the database server <a href="https://mariadb.perlclub.net/"> MariaDB</a>.

<ul>
  <li> <a href="/blog/20200224174004.html"> MariaDB initialization and user creation</a> </li>
</ul>

<h3> cron </h3>

Check the startup of cron, which is a resident application for executing periodic programs.

<h4> Confirmation of cron startup </h4>

Make sure Apache is running by running "sudo systemctl status cron" in the following article.

<ul>
  <li> <a href="/blog/20200520084454.html"> Start / stop / restart / status check of cron, cron execution log</a> </li>
</ul>

<h4> Crontab settings </h4>

Let's make the initial settings of crontab.

<ul>
  <li> <a href="/blog/20200604085516.html"> crontab --Write a program to be executed periodically by cron</a> </li>
</ul>

<h3> Apache </h3>

Install and configure Apache, the web server.

Set up a reverse proxy to connect to Mojolicious applications.

Set up SSL so that you can connect via HTTPS.

<h4> Apache installation </h4>

Install Apache and make sure it is running.

<ul>
  <li> <a href="/blog/20200424174004.html"> Installation of apache2 --Apache version 2 series which is a web server</a> </li>
  <li> <a href="/blog/20200519084454.html"> Start / stop / restart / check the status of Aapache</a> </li>
</ul>

<h4> Apache configuration file </h4>

Go to the Apache configuration file directory and configure Apache settings. Let's see how to check if the Apache config file is correct and how to enable the Apache config.

<ul>
  <li> <a href="/blog/20200317174004.html"> Apache configuration file location</a> </li>
  <li> <a href="/blog/20200609132409.html"> Test if the Apache configuration file is correct</a> </li>
  <li> <a href="/blog/20200610082714.html"> Enable / Disable Apache Configuration File --Basic Settings / Module Settings / Site Settings</a> </ul>
</ul>

<h4> Apache module </h4>

Enable the Apache module required to configure the reverse proxy and SSL.

<ul>
  <li> <a href="/blog/20200318174004.html"> Enable mod_ssl for HTTPS communication with Apache</a> </li>
  <li> <a href="/blog/20200311174004.html"> Enable mod_rewrite module in Apache</a> </li>
  <li> <a href="/blog/20200309174004.html"> Enable mod_headers module in Apache</a> </li>
  <li> <a href="/blog/20200310174004.html"> Enable mod_proxy module in Apache</a> </li>
  <li> <a href="/blog/20200220174004.html"> Enable mod_proxy_http module in Apache</a> </li>
  <li> <a href="/blog/20200718090758.html"> Enable the proxy_wstunnel module for WebSocket reverse proxy in Apache</a> </li>
</ul>

<h3> Creating a web application </h3>

Creating a web application. I'm using Perl's web framework as a sample.

If you want stability, install "perl-5.20.3" which has no problems with CPAN module installation and warning display.

If you want the latest secure version, install "perl-5.30.3".

<ul>
  <li> <a href="/blog/20200413174004.html"> User Perl and cpanm installation</a> </li>
</ul>

Then deploy the web application.

<ul>
  <li> <a href="/blog/20200729134756.html"> Deploying a web application</a> </li>
</ul>

Let the batch program find the path to the web application's library. Be prepared to create a batch program in addition to your web application.

Let's add it to "~ / .bashrc".

<pre>
vi ~ / .bashrc
</pre>

<pre>
export PERL5LIB = / home / myapp / webapp / lib
</pre>

<h3> Get domain name and set DNS server </h3>

Get the domain and associate the domain name with the server IP address. Required for publishing websites on the Internet and for portable settings on email sending servers.

<ul>
  <li> <a href="/blog/20200807062918.html"> Get domain name and set DNS server</a> </li>
</ul>

<h3> Creating an email address and setting up a DNS server </h3>

<ul>
  <li> <a href="/blog/20200828123127.html"> Creating an email address and setting up a DNS server</a> </li>
</ul>

<h3> Send email </h3>

Install postfix to send mail. Apply for a cloud email service so that you can send emails.

<ul>
  <li> <a href="/blog/20200423174004.html"> Postfix installation-send mail sendmail command</a> </li>
</ul>

<h3> Connection between web server and web application </h3>

Let's connect the web server and the web application. A reverse proxy is a mechanism that transparently passes an HTTP request received by a Web server to another server application. After launching the web application, use a reverse proxy to pass the HTTP request to the web application.<ul>
  <li> <a href="/blog/20200306174004.html"> Connect your web application from Apache with a virtual host and reverse proxy</a>
</ul>

<h3> Obtaining an SSL certificate and setting SSL </h3>

Issue an SSL certificate and configure SSL to receive requests over HTTPS.

<ul>
  <li> <a href="/blog/20200618081050.html"> HTTPS support --Automation of SSL certificate acquisition / renewal / renewal of Let's Encrypt</a> </li>
  <li> <a href="/blog/20200611082716.html"> Describe the SSL certificate settings in the Apache configuration file</a> </li>
</ul>

<h3> Systemd management of web applications </h3>

Let's set the Web application to start automatically when the OS restarts.

<ul>
  <li> <a href="/blog/20200901150837.html"> Register your web application with systemd</a> </li>
</ul>

<h3> Procedure for building an environment with VPS or public cloud </h3>

The individual procedures using VPS and cloud server are published below.

<ul>
  <li> <a href="/blog/20200816052048.html"> Summary of procedures for creating a Web system development environment with Sakura VPS + Ubuntu 18 + Perl</a> </li>
</ul>

<h3> Update information </h3>

<ul>
  <li> <a href="/all.html"> See all articles</a> </li>
  <li> <a href="/list.html"> New articles</a> </li>
  <li> <a href="https://twitter.com/hashtag/Perl%E3%82%AF%E3%83%A9%E3%83%96%E6%9B%B4%E6%96%B0% E6% 83% 85% E5% A0% B1 "> Updates</a> </li>
</ul>

<h3> Ubuntu related information </h3>

Information related to Ubuntu.

<h4> Linux server management </h4>

Click here to learn about the vi text editor, basic Linux commands, and how Linux works.

<ul>
  <li> <a href="https://linux.perlclub.net/"> Introduction to Linux Server Management</a> </li>
</ul>

<h4> Linux distribution </h4>

Linux distributions that can be compared to Ubuntu include <a href="https://en.centos.perlzemi.com/"> CentOS</a> and <a href="https://ja.wikipedia.org/wiki/". Fedora "> Fedora</a>, <a href="https://ja.wikipedia.org/wiki/Debian"> Debian</a>, <a href="https://ja.wikipedia.org/ wiki / Rocky_Linux "> Rocky Linux</a>, <a href="https://ja.wikipedia.org/wiki/Red_Hat_Enterprise_Linux"> Red Hat Enterprise Linux</a>.

<h4> Scripting language </h4>

Scripting languages ​​available for Ubuntu server management include <a href="https://perlzemi.com/"> Perl</a> and <a href="https://ja.wikipedia.org/wiki/". There are Python "> Python</a>, <a href="https://ja.wikipedia.org/wiki/Ruby"> Ruby</a> and so on.